/* Reset basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .logo {
    height: 40px;
    margin-right: 15px;
  }
  
  .app-title {
    font-family: Georgia, serif;
    font-weight: 900;
    font-size: 20px;
    color: #333;
  }

  .main-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the content horizontally */
    padding: 20px;
    background-color: #4CAF50; /* Change to your desired color */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    width: 100%; /* Ensures it stretches across the full width */
  }
  
  .logo {
    height: 50px; /* Adjust the size of the logo */
    margin-right: 15px;
  }
  
  .app-title {
    font-family: 'Georgia', serif;
    font-weight: 900;
    font-size: 32px; /* Increase the size of the title */
    color: white; /* Make the title white for better contrast */
    text-transform: uppercase; /* Optional: Capitalize all letters */
  }

  
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FBEBC5;
    display: flex;
    flex-direction: column; /* Stack element vertically */
    justify-content: flex-start; /* Align items to the top of the page */
    align-items: center;
    height: 100vh;
    margin:0%;
  }
  
  .form-container {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 320px;
    width: 50%;
    box-sizing: border-box;
  }
  
  h2 {
    font-family: Georgia, serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    background-color: #CEC5BA;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }

  footer {
    font-size: smaller;
    font-style: italic;
  }